n8n/workflows/v1_notion_search.json
{
  "name": "v1_notion_search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "v1/notion/search",
        "responseMode": "responseNode"
      },
      "id": "6d02eb70-ed49-405b-9383-6428c40f8aa7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst executionId = this.getExecutionId ? this.getExecutionId() : Date.now().toString();\n\nfunction respond(statusCode, body) {\n  return [{ json: { httpStatus: statusCode, body } }];\n}\n\nfunction errorEnvelope(requestId, code, message, details) {\n  return {\n    request_id: requestId || null,\n    status: 'error',\n    correlation_id: executionId,\n    data: null,\n    error: { code, message, details: details || {} }\n  };\n}\n\nfunction okEnvelope(requestId, data) {\n  return {\n    request_id: requestId,\n    status: 'ok',\n    correlation_id: executionId,\n    data,\n    error: null\n  };\n}\n\nconst notionToken = $env.NOTION_API_KEY;\nif (!notionToken) {\n  return respond(500, errorEnvelope(null, 'config_error', 'NOTION_API_KEY is not set', {}));\n}\n\nconst baseUrl = 'https://api.notion.com/v1';\nconst notionHeaders = {\n  Authorization: `Bearer ${notionToken}`,\n  'Notion-Version': '2022-06-28',\n  'Content-Type': 'application/json'\n};\n\nconst request = async (method, urlPath, bodyData) => {\n  const options = {\n    method,\n    url: `${baseUrl}${urlPath}`,\n    headers: notionHeaders,\n    json: true\n  };\n  if (bodyData) options.body = bodyData;\n  return this.helpers.httpRequest(options);\n};\n\nconst getTitleFromPage = (page) => {\n  if (!page || !page.properties) return '';\n  const titleKey = Object.keys(page.properties).find((key) => page.properties[key].type === 'title');\n  if (!titleKey) return '';\n  const titleArray = page.properties[titleKey].title || [];\n  return titleArray.map((t) => t.plain_text).join('');\n};\n\nconst getTitleFromDatabase = (db) => {\n  if (!db || !Array.isArray(db.title)) return '';\n  return db.title.map((t) => t.plain_text).join('');\n};\n\n\nconst headers = $json.headers || {};\nconst authHeader = (headers.authorization || headers.Authorization || '').trim();\nconst bearerToken = $env.API_BEARER_TOKEN || '';\n\nif (!bearerToken) {\n  return respond(500, errorEnvelope(null, 'config_error', 'API_BEARER_TOKEN is not set', {}));\n}\n\nconst expectedAuth = `Bearer ${bearerToken}`;\n\nif (authHeader !== expectedAuth) {\n  return respond(401, errorEnvelope(null, 'unauthorized', 'Invalid or missing Authorization header', {}));\n}\n\nconst body = $json.body;\nif (!body || typeof body !== 'object') {\n  return respond(400, errorEnvelope(null, 'invalid_request', 'Request body must be a JSON object', {}));\n}\n\nconst { request_id, actor, payload } = body;\nif (typeof request_id !== 'string' || typeof actor !== 'string' || typeof payload !== 'object' || payload === null) {\n  return respond(400, errorEnvelope(request_id, 'invalid_request', 'Missing or invalid request envelope fields', {}));\n}\n\nconst query = payload.query;\nconst limit = payload.limit;\nconst types = Array.isArray(payload.types) ? payload.types : ['page', 'database'];\n\nif (typeof query !== 'string') {\n  return respond(400, errorEnvelope(request_id, 'invalid_request', 'payload.query must be a string', {}));\n}\n\nconst maxResults = typeof limit === 'number' && limit > 0 ? Math.min(limit, 100) : 10;\nconst typeSet = new Set(types);\n\nconst searchType = async (type) => {\n  const res = await request('POST', '/search', {\n    query,\n    page_size: maxResults,\n    filter: { property: 'object', value: type }\n  });\n  return res.results || [];\n};\n\ntry {\n  let results = [];\n  if (typeSet.has('page')) {\n    results = results.concat(await searchType('page'));\n  }\n  if (typeSet.has('database')) {\n    results = results.concat(await searchType('database'));\n  }\n\n  results = results.slice(0, maxResults);\n\n  const normalized = results.map((item) => {\n    const objectType = item.object;\n    const title = objectType === 'database' ? getTitleFromDatabase(item) : getTitleFromPage(item);\n    return {\n      id: item.id,\n      object_type: objectType,\n      title,\n      url: item.url,\n      last_edited_time: item.last_edited_time\n    };\n  });\n\n  return respond(200, okEnvelope(request_id, { results: normalized }));\n} catch (error) {\n  const message = error && error.message ? error.message : 'Search failed';\n  return respond(500, errorEnvelope(request_id, 'search_failed', message, { stack: error && error.stack }));\n}\n"
      },
      "id": "a0009e8e-dc15-4dee-9844-8a2f880b3dbc",
      "name": "Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.body}}",
        "options": {
          "responseCode": "={{$json.httpStatus}}"
        }
      },
      "id": "e20c7c83-392d-4a4d-83b0-bb52e4f3b93a",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        300,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handler": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "2a53443d-8357-4411-a9f0-637731c0a053",
  "id": "4ca9ab39-6a2b-4a87-81ba-76af125b3b44",
  "tags": []
}